body{
    margin:10px;
    background-image: url("images/new.jpeg");
}


.header{
    color: white;
    
    font-family:"Saira Stencil One";
    font-size:2.5em;
    text-align: center;
    
    border-radius: 5px;
    margin-bottom:20px;
}



.about{
    display:flex;
    flex-wrap:wrap;
    width: 100%;
    
    padding:5px;
    margin-top:20px;
    color:white;
}


#box_about{
    position:relative;
    margin:20px;
    font-size:3em;

    font-family: Rye;

    text-align:center;
    align-content: center;

    min-width:200px;
    word-wrap:break-word;
    
    
    padding: 5px;
    vertical-align: top;
    flex:1;

    background-color: rgba(102,99,99,0.7);
}


.about > #box_about:hover ~ #description {
    visibility:visible;
    opacity: 1;
}


#description{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in, visibility 0.5s ease-in;

    font-family: Merienda;

    margin:20px;
    position:relative;
    text-align:justify;
    font-size:1.5em;

    /* height:220px;
    width:70%; */
    min-width:250px;

    /* border:2px solid; */
    padding:5px;
    flex:2;
    overflow:break-word;
    color:white;
    background-color:rgba(102, 99, 99,0.9);
}



.ps{
    margin-top:40px;
    font-size: 1.18em;
}


#git{
    margin-left:15px;
    text-align:justify;
    font-weight: bold;
}


.gallery{
    margin:15px;
    display:inline-block;
    
    padding:5px;
    border-radius:10px;
    box-sizing: border-box;
}


.gallery img{
    width:320px;
    height:240px;
}


.gallery:hover{
    /* border: 3px solid rgb(0, 0, 0); */
    outline: 3px solid white;
}


.contacts{
    display:inline-block;
    margin:5px;
    margin-top:7px;
}


hr{
    color:orange;
    border:2px solid;
}

#Q{
    width:45%;
    background-color: rgba(102, 99, 99,0.95);
    text-align:center;
    color: rgb(255,255,255);
    margin:0 auto;
    font-size:2em;
    font-family:UnifrakturMaguntia;
}


#statement{
    visibility:hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in, visibility 0.5s ease-in;

    width:85%;
    border:1px solid white;
    background-color: rgba(102, 99, 99,0.9);
    padding:5px;
    color:white;
    margin: 0 auto;
    
    font-family: Allan;
    font-size:1.3em;
}


#Q:hover ~ #statement{
    visibility: visible;
    opacity:1;
}


#beam{
    /* background-color:rgba(102, 99, 99,0.7); */
    width: 35%;
    text-align: justify;
    font-size:1.5em;
    align-content: center;
}


.solution{
    font-size:1.85em;
    text-align:left;
    margin-left:20px;
    
}


.solution a{
    color:white !important;
    text-decoration:none;
}

.gal_text{
    color:white;
    font-size:2.0em;
    font-weight: bold;
    margin-left:20px;
}


